<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>5.0b1</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict/>
				<key>Site Resources</key>
				<data>
				YnBsaXN0MDDUAQIDBAUIkpNUJHRvcFgkb2JqZWN0c1gk
				dmVyc2lvblkkYXJjaGl2ZXLRBgdUcm9vdIABrxAcCQoR
				HSEzNztCRkdITFBXW2FpbHB1eX2Bh4iMkFUkbnVsbNIL
				DA0QWk5TLm9iamVjdHNWJGNsYXNzog4PgAKAE4Ab1hIT
				FAwVFhcYGRobHFhOb2RlIE1hcFlSZXNvdXJjZXNYUGF0
				aCBNYXBeSWRlbnRpZmllciBNYXBYUGFnZSBNYXCAD4AD
				gBeAGoANgBbSCwweIKEfgASADNkiIyQlJicoDCkqKywt
				LS0wMS1UTmFtZVVBbGlhc1pJZGVudGlmaWVyXVB1Ymxp
				c2hlZERhdGVZVGltZVN0YW1wXFB1Ymxpc2hlZFVSTFdD
				aGFuZ2VkVFNsdWeACoAFgAmAAIAAgAAJgAuAANI0DDU2
				UiQwgAaACNI4DDk6V05TLmRhdGFPEQGGAAAAAAGGAAIA
				AAxNYWNpbnRvc2ggSEQAAAAAAAAAAAAAAAAAAADJeZYo
				SCsAAAAOCDUOcHlydWJ5bG9nby5wbmcAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAABCGncj5TGoAAAAAAAAAAP////8AAAkgAAAA
				AAAAAAAAAAAAAAAABnB5cnVieQAQAAgAAMl5ligAAAAR
				AAgAAMj5TGoAAAABABAADgg1AA4HzAAIfJoAAJftAAIA
				N01hY2ludG9zaCBIRDpVc2VyczpweXJ1Ynk6RHJvcGJv
				eDpweXJ1Ynk6cHlydWJ5bG9nby5wbmcAAA4AHgAOAHAA
				eQByAHUAYgB5AGwAbwBnAG8ALgBwAG4AZwAPABoADABN
				AGEAYwBpAG4AdABvAHMAaAAgAEgARAASACpVc2Vycy9w
				eXJ1YnkvRHJvcGJveC9weXJ1YnkvcHlydWJ5bG9nby5w
				bmcAEwABLwAAFQACAA3//wAAgAfSPD0+P1gkY2xhc3Nl
				c1okY2xhc3NuYW1loz9AQV1OU011dGFibGVEYXRhVk5T
				RGF0YVhOU09iamVjdNI8PUNFokRBV0JEQWxpYXNXQkRB
				bGlhc18QJEYzQUQ4Mjg0LUVCNEMtNDFBQS1CMzQ0LTky
				NUNERUQ4NEYzRV5weXJ1Ynlsb2dvLnBuZ9I8PUlLokpB
				XlJXU2l0ZVJlc291cmNlXlJXU2l0ZVJlc291cmNl0jw9
				TU6jTk9BXE5TTXV0YWJsZVNldFVOU1NldNMLUQxSVFZX
				TlMua2V5c6EfgAShLIAJgA7SPD1YWaNZWkFfEBNOU011
				dGFibGVEaWN0aW9uYXJ5XE5TRGljdGlvbmFyedMLUQxc
				XlahXYAQoSyACYAO1GIMY2RlZh8PWENoaWxkcmVuXxAS
				UmVwcmVzZW50ZWQgT2JqZWN0VlBhcmVudIARgBWABIAT
				0gsMamuggBLSPD1tbqNub0FeTlNNdXRhYmxlQXJyYXlX
				TlNBcnJhedRiDGNkcWYtLYAUgBWAAIAA0gsMdmuhXYAQ
				gBLSPD16fKJ7QV8QEFJXU291cmNlTGlzdE5vZGVfEBBS
				V1NvdXJjZUxpc3ROb2Rl0wtRDH5/VqCggA7TC1EMgoRW
				oYOAGaGFgBiADl8QKy9Vc2Vycy9weXJ1YnkvRHJvcGJv
				eC9weXJ1YnkvcHlydWJ5bG9nby5wbmfSCwyJIKEfgASA
				DNI8PY2Poo5BXxASUldSZXNvdXJjZURhdGFiYXNlXxAS
				UldSZXNvdXJjZURhdGFiYXNl0jw9kW+ib0ESAAGGoF8Q
				D05TS2V5ZWRBcmNoaXZlcgAIABEAFgAfACgAMgA1ADoA
				PABbAGEAZgBxAHgAewB9AH8AgQCOAJcAoQCqALkAwgDE
				AMYAyADKAMwAzgDTANUA1wDZAOwA8QD3AQIBEAEaAScB
				LwE0ATYBOAE6ATwBPgFAAUEBQwFFAUoBTQFPAVEBVgFe
				AugC6gLvAvgDAwMHAxUDHAMlAyoDLQM1Az0DZANzA3gD
				ewOKA5kDngOiA68DtQO8A8QDxgPIA8oDzAPOA9MD1wPt
				A/oEAQQDBAUEBwQJBAsEFAQdBDIEOQQ7BD0EPwRBBEYE
				RwRJBE4EUgRhBGkEcgR0BHYEeAR6BH8EgQSDBIUEigSN
				BKAEswS6BLsEvAS+BMUExwTJBMsEzQTPBP0FAgUEBQYF
				CAUNBRAFJQU6BT8FQgVHAAAAAAAAAgEAAAAAAAAAlAAA
				AAAAAAAAAAAAAAAABVk=
				</data>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<true/>
					<key>BaseURL</key>
					<string>http://pyrestmodels.github.com/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2013 PyRuby LTD</string>
					<key>CopyrightTextUsed</key>
					<true/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>chris@pyruby.co.uk</string>
					<key>FavIconUsed</key>
					<false/>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<false/>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<false/>
					<key>ShowTidiedCode</key>
					<false/>
					<key>SloganText</key>
					<string>dynamically driven</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Alpha</string>
					<key>TitleText</key>
					<string>PyRestModels</string>
					<key>TitleTextUsed</key>
					<true/>
					<key>WantsXMLSiteMap</key>
					<true/>
					<key>WebClipIconUsed</key>
					<false/>
					<key>putGoogleAnalyticsInHead</key>
					<true/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
