
#stacks_in_7_page0 {
	font-size: 160%;
	font-weight: bold;
}

#stacks_out_2_page0 {
	width: 960px;
}

#stacks_in_2_page0 {
	padding: 0px 10px 40px 10px;
}

#stacks_out_13_page0 {
	width: 320px;
	float: left;
}

#stacks_in_13_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_19_page0 {
	width: 320px;
	float: left;
}

#stacks_in_19_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_25_page0 {
	width: 320px;
	float: left;
}

#stacks_in_25_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_11_page0 {
	width: 960px;
}

#stacks_in_9_page0 {
	padding: 10px 0px 10px 0px;
}

#stacks_out_55_page0 {
	width: 320px;
	float: left;
}

#stacks_in_55_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_61_page0 {
	width: 320px;
	float: left;
}

#stacks_in_61_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_67_page0 {
	width: 320px;
	float: left;
}

#stacks_in_67_page0 {
	padding: 0px 10px 0px 10px;
}

#stacks_out_53_page0 {
	width: 960px;
}

#stacks_in_51_page0 {
	padding: 10px 0px 10px 0px;
}
